@import '../../components/App/variables';

.section--profile {
  .profile-block {
    margin-bottom: 90px;

    .image-wrapper {
      img{
        display: block;
        margin-left: auto;
        height: 360px !important;
        border: 1px solid $green;
        box-shadow: 0 0 5px $green;
      }
    }

    p {
      font-size: 20px;
  
      &.price {
        font-size: 45px;
      }
    }
  
    .btn {
      font-size: 30px !important;
      padding: 10px 80px !important;
    }
  }
}