@import '../App/variables';

.game-list {
	justify-content: flex-start;
	margin: 0 auto !important;
	width: 1100px;
	
	.game {
		position: relative;
		z-index: 1;
		width: 200px;
		padding: 0;
		margin: 20px 10px !important;
		border: 1px solid $green;
		box-shadow: 0 0 5px $green;
		overflow: hidden;
		transition: transform 0.5s;
		transform: scale(1);

		&:hover {
			transform: scale(1.05);
		}
		
		.game__image {
			position: relative;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			height: 255px;
			background-color: $gray;
			img {
				width: 100%;
			}
			div {
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(0deg, $gray 0%, $gray 5%, rgba(0, 0, 0, 0) 100%);
					z-index: 2;
				}
			}
		}
		.game__text {
			position: relative;
			z-index: 3;
			display: flex;
			flex-direction: column-reverse;
			height: 95px;
			padding: 0 15px 15px;
			font-family: "Oswald", sans-serif;
			font-weight: 600;

			.game__name {
				font-weight: 600;
				font-size: 24px;
				text-align: left;
				order: 2;
				z-index: 3;
				cursor: pointer;

				a {
					transition: color 0.3s;
					&:hover {
						color: $green-dark;
					}
				}
			}
			.text__footer {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				order: 1;
				.btn--green {
					padding: 0 25px;
				}
			}
			.game__price {
				font-size: 26px;
				margin: 0;
				span {
					font-size: 16px;
					color: $green;
					text-shadow: 0 0 5px $green;
				}
			}
		}
	}
}