@import '../App/variables';

.header {
  background-color: $dark-gray;
  position: relative;

  & > div {
    background-color: $dark-gray;
    width: 1250px;
    padding: 0 50px;
    margin: 0 auto;
  }
}